{% extends 'base.html.twig' %}

{% block title %}Modifier Photo
{% endblock %}

{% block body %}
	<h1>Modification Photo</h1>

	{{ include('picture/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_adminpicture_index') }}">Retour</a>

	{{ include('picture/_delete_form.html.twig') }}
{% endblock %}
