{% extends 'base.html.twig' %}

{% block title %}Photos
{% endblock %}

{% block body %}


	<div class="album py-5">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
				{% for picture in pictures %}

					<div class="col">
						<div class="card">
							<a class="likePictureButton" href="{{ path('app_addPictureLikeList', {id: picture.id})}}">
								<i class="bi {{ app.user.isInLikeListPicture(picture) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
							</a>
							<img class="card-img-top" src="{{asset('build/images/' ~ picture.poster)}}" alt="Card image">

						</div>
					</div>

				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
