{% extends 'base.html.twig' %}

{% block title %}Photos
{% endblock %}

{% block body %}


	<div class="album py-5">
		<div class="">
			<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-1">
				{% for picture in pictures|sort ((b, a) => a.id <=> b.id) %}

					<div class="col box">
						<div class="card">
							{% if app.user %}
								<div class="top-left">
									<a class="likePictureButton" href="{{ path('app_addPictureLikeList', {id: picture.id})}}">
										<i class=" bi {{ app.user.isInLikeListPicture(picture) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
									</a>
								</div>
							{% endif %}
							<img class="card-img-top" src="{{ vich_uploader_asset(picture) }}" alt="Card image">
						</div>
					</div>

				{% endfor %}
			</div>
		</div>
	</div>
	<div>
		<a id="cBack" class="cInvisible" href="#topPage"></a>
		<script src="/assets/styles/topPage.js"></script>
	</div>
{% endblock %}
