{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	{% include "components/nav.html.twig" %}
	<img class="img-fluid" src="{{asset('build/images/yellowposter.jpg')}}" alt="homeposter">
</div>{% endblock %}
