{% extends 'base.html.twig' %}

{% block title %}Gif index
{% endblock %}

{% block body %}
	<h1>Tout les Gifs</h1>

	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Nom du fichier</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for gif in gifs %}
				<tr>
					<td>
						<img class="mx-auto d-block gif" src="{{asset('build/images/' ~ gif.url)}}">
					</td>
					<td>
						<button class="btn btn-light rounded-5">
							<a href="{{ path('app_gif_edit', {'id': gif.id}) }}">Modifier</a>
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<button class="btn btn-light rounded-5">
		<a href="{{ path('app_gif_new') }}">Ajouter un nouveau Gif</a>
	</button>
{% endblock %}
