{% extends 'base.html.twig' %}

{% block title %}Picture index
{% endblock %}

{% block body %}
	<h1>Toutes les photos</h1>

	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Photos</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for picture in pictures %}
				<tr>
					<td>
						<img class="mx-auto d-block gif" src="{{asset('build/images/' ~ picture.poster )}}">
					</td>
					<td>
						<button class="btn btn-light rounded-5">
							<a href="{{ path('app_picture_edit', {'id': picture.id}) }}">Modifier</a>
						</button>
					</td>
				</tr>
			</tr>
		{% else %}
			<tr>
				<td colspan="3">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<a href="{{ path('app_picture_new') }}">Create new</a>{% endblock %}
