{% extends 'base.html.twig' %}

{% block title %}Video index
{% endblock %}

{% block body %}
	<h1>Toutes les vidéos</h1>
	<button class="btn btn-light rounded-5">
		<a href="{{ path('app_video_new') }}">Ajouter une nouvelle vidéo</a>
	</button>
	<table class="table">
		<thead>
			<tr>
				<th>Url</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for video in videos|sort ((b, a) => a.id <=> b.id) %}
				<tr>
					<td>
						<iframe src="{{video.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</td>
					<td>
						{{ include('video/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
