{% extends 'base.html.twig' %}

{% block title %}Gifs
{% endblock %}

{% block body %}


	<div class="album py-5">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
				{% for gif in gifs %}

					<div class="col box">
						<div class="card">
							{% if app.user %}
								<div class="top-left">
									<a class="likeGifButton" href="{{ path('app_addGifLikeList', {id: gif.id})}}">
										<i class="bi {{ app.user.isInLikeListGif(gif) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
									</a>
								</div>
							{% endif %}
							<img class="card-img-top" src="{{asset('build/images/' ~ gif.url)}}" alt="Card image">

						</div>
					</div>

				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
