{% extends "components/layout_form.html.twig" %}
{% block form %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-light rounded-5">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
{% endblock %}
