//start coding by removing this file and adding yours ;)
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500&display=swap');


html,
body {
    height: 100%;
}

body {
    background-color: #000000;
    color: white;
    font-family: 'El Messiri';
    height: 100%;
}

.home-img {
    height: 90%;
    background-image: url(/assets/images/yellowposter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginform {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: auto;
    height: 100%;
}

.card {
    --bs-card-bg: none;
}

.box {
    position: relative;
    text-align: center;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

i {
    color: red;
    font-size: 1.5em;
}